.contenedorGeneral {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-image: url(../../assets/bg_recargas2@2x.png);
  background-repeat: no-repeat;
  background-size: 130% 100%;
}

.contenedorRecarga {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px 0 180px;
}

.titulos {
  font-family: "Rubik";
  font-size: 36px;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  color: #214960;
  margin: 83px 0 30px;
}

.textoRecargas {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #214960;
}

.boton {
  margin-top: 15px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #567efb;
  border-radius: 30px;
  border: transparent;
  width: 225px;
  height: 60px;
}

.contenedorAhorra {
  width: 60%;
  margin: 80px 0 50px 50px;
}

.contenedorLogos {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 39px;
  margin-left: 130px;
}

.logo {
  padding: 0 10px 0 10px;
  border-right: solid 2px #d8d8d8;
}

.logo:nth-last-child(1) {
  padding: 0 10px 0 10px;
  border-right: solid 2px transparent;
}
