.contenedorGeneral {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%; 
}

.contenedorTitulo {
  width: 100%;
  height: 435px;
  background-image: url("../../assets/bg_main_about_us.png");
  background-size: 117% 90%;
  background-repeat: no-repeat;
  display: inline-block;   /*para que no me quedara un top blanco en la img-prensa- COMPARAR CON MATI*/

  h1 {
    font-family: "Rubik";
    font-weight: 600;
    font-style: italic;
    font-size: 48px;
    color: #214960;
    padding: 130px;
  }
}

.boton {
  width: 9%;
  height: 50px;
  background-color: white; 
  display: flex;
  justify-content: center;
  align-self: end;
  padding: 0px 10px;
  border: 1px solid #36769C;
  border-radius: 20px;
  margin: 30px 1015px 30px;
}

.flecha {
  margin-top: 12px;
  margin-right: 5px; /*el espacio entre la flecha y el texto*/
}

.textoFlecha {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  display: flex;
  margin-top: 16px;
  color: #36769c;
}

.contenedorDos { 
  width: 75%;
  height: 217px;
  border-bottom: 2px solid #00ECD9; 
}

h2 {
  font-family: "Rubik"; /*(paleta de colores: rubik 500)*/
  font-weight: 400;   
  color: #36769C;
  margin: 0px auto 40px;
}

.textoUno {
  line-height: 10%;
  color: #36769C;
}

.contenedorDos .textoUno:last-of-type {
  margin-bottom: 90px;
}

.imagenesParrafos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 320px; 
}
  
.contenedorTres {   
  width: 25%;
  height: 550px;
  border: 2px solid transparent;
  text-align: center;
}

.logo {
  width: 70%;
  height: 200px;
  border: 1px solid #EDEDED;
  border-radius: 10px;
}

.logoTitulo {
  color: #4890EA;
  position: relative;
  top: 18px;
}

.textoUno, .logoTitulo {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 18px;
}

.texto {
  font-family: "Roboto"; 
  font-weight: 400;
}

h2, .texto {
  font-size: 29px; /*CONSULTAR sino 38px*/
}
