@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Rubik:400,500&display=swap');

.contenedorGeneral {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
}

.contenedorTitulo {
  width: 100%;
  height: 435px;
  background-image: url("../../assets/bg_main_about_us.png");
  background-size: 117% 90%;
  background-repeat: no-repeat;
  display: inline-block;   /*para que no me quedara un top blanco en la img-prensa- COMPARAR CON MATI*/
  text-align: center;

  h1 {
    font-family: "Rubik";
    font-weight: 600;
    font-style: italic;
    font-size: 48px;
    color: #214960;
    padding: 130px;
  }
}

.boton {
  width: 7%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-self: end;
  color: #36769c;
  padding: 0px 10px;
  border: #36769C solid 1px;
  border-radius: 20px;
  margin: 30px 1015px 30px;
}

.flecha {
  margin-right: 5px; /*el espacio entre la flecha y el texto*/
}

.textoFlecha {
  font-size: 14px;
  display: flex;
  margin-top: 16px;
}

.contenedorDos { 
  width: 75%;
  height: 217px;
  text-align: center;
  border-bottom: #00ECD9 solid 2px; 
}

.subtitulo {
  font-family: "Roboto"; /*ver cambiar espacio*/
  font-weight: 300;
  font-size: 29px;
  color: #36769C;
}

.textoUno {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 18px;
  color: #36769C;
}

.contenedorDos .textoUno:last-of-type{
  margin-top: 0px;
  margin-bottom: 90px;
}

.imagenesParrafos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 320px; 
}
  
.contenedorTres {   /*verlos espacios de bottom*/
  width: 25%;
  height: 550px;
  border: transparent solid 5px;
  text-align: center;
}

.logo {
  width: 70%;
  height: 200px;
  border: #EDEDED solid 1px;
  border-radius: 20px;
}

.logoTitulo {
  font-size: 18px;
  color: #4890EA;
  position: relative;
  top: 18px;
}

.texto {
  font-size: 29px; /*CONSULTAR*/
  text-align: center;
}
