@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Rubik:300,500&display=swap");

.contenedorGeneral {
  width: 100%;
  height: 470px; /*ajuste el matamaño del contenedor a la de la imagen*/
  background-image: url("../../assets/bg_blog.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex; /*por sacar el estilo de app.js(texte-align-center)*/
  justify-content: center;
  align-content: center;
}

.contenedor {
  width: auto;
  height: 350px;
  position: relative;
  top: 100px;
  margin: -30px 0px;
}

.titulo {
  font-family: "Rubik";
  font-weight: 500;
  font-style: italic;
  font-size: 36px;
  color: #ffffff;
}

.texto,.textoDos {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: #ededed;
  padding: 10px 0px 0px;
}

.textoDos {
  margin-top: -30px;
}

.formContenedor {
  margin: 40px 0px 60px; /*agranda el espacio entre el input y el boton-ver*/
}

.input {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  color: #6a6a6a;
  background-color: #d9d9d9;
  padding: 10px 115px 10px 20px;
  border: transparent solid 5px;
  border-radius: 35px;
}

.enviar {
  background-color: #00ffd1;
  background-image: url("../../assets/ic_send2_blue.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 11px 20px;
  border: transparent solid 5px;
  border-radius: 80%;
  margin-left: -45px; /* para que el btn este sobre el input*/
}

.ver {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  background-color: #4890ea;
  padding: 10px 20px;
  border: transparent solid 5px;
  border-radius: 25px;
}
