@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Rubik:300,400,500&display=swap");

$color-fondo: #eeeeee;
$color-letra: #214960;
$color-boton: #567efb;

.contenedor {
  background-color: $color-fondo;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nubipaypal {
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
}
.titulo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  margin-bottom: -20px;
}
.textotitulo {
  font-family: "Rubik";
  font-size: 36px;
  font-weight: 500;
  color: $color-letra;
  display: flex;
}

.boton {
  margin-top: -1px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: $color-boton;
  border-radius: 30px;
  border: transparent;
  width: 16%;
  height: 50px;
}
.ContenedorCelular {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}
.contenedorespequeños {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.contenedor2 {
  background-color: $color-fondo;
  display: flex;
  width: 700px;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  
}
.paypal {
  color: $color-boton;
  font-family: Rubik light;
  font-size: 48px;
  font-style: italic;
}
.textopaypal {
  font-family: Roboto Regular;
  font-size: 18px;
  margin-bottom: 30px;
}
.miraelvideo {
  color: $color-boton;
  font-family: Roboto Regular;
  font-size: 18px;
  border: solid 2px;
  border-radius: 30px;
  text-align: center;
  width: 24%;
  height: 40px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.vermas {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: $color-boton;
  border-radius: 30px;
  border: transparent;
  width: 24%;
  height: 40px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.contenedor3 {
  background-color: $color-fondo;
  display: flex;
  width: 700px;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  
}
