@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Rubik:400,500&display=swap");

.contenedorGeneral {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url("../../assets/bg_retiros.png");
  background-repeat: no-repeat;
  background-size: 150%;
  background-color: #eeeeef;
}

.contenedorRetira {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedorTabla {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
}

.tabla, td, th {
  border: 1px solid #214960;
  border-collapse: collapse;
}

.tabla {
  width: 80%;
}

th {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  color: #214960;
  text-align: center;
  padding: 12px 10px;
}

td {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  color: #214960;
  text-align: center;
  padding: 5px;
}

.titulos {
  font-family: "Rubik";
  font-size: 36px;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  color: #214960;
  margin-top: 20%;
}

.textoRetiros {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 550;
  text-align: center;
  color: #214960;
  width: 87%;
}

.textoTabla {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  color: #214960;
  text-align: justify;
  margin-top: 5px;
}

.boton {
  margin-top: 15px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #567efb;
  border-radius: 30px;
  border: transparent;
  width: 17%;
  height: 60px;
  margin-top: 5%;
}
